<div class="col-md-12">
  <h1><%= t "activity.activities" %></h1>
  <% if @activities %>
    <ul class="activities">
      <%= render @activities %>
    </ul>
    <div class="center-parent">
      <div class="center-child">
        <%= will_paginate @activities %>
      </div>
    </div>
  <% end %>
</div>
