<%= provide title: t("categories") %>
<div class="row">
  <h1><%= t "categories" %></h1>
  <ul class="categories">
    <%= render @categories %>
  </ul>
  <div class="center-parent">
    <div class="center-child">
      <%= will_paginate @categories %>
    </div>
  </div>
</div>
